.hero-content {
    width: 100%;
    height: 100vh;
    margin-bottom: $space-5;
    .hero-image {
        background-image: url('../../../images/01_imagen_header.png');
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        img {
            height: 100vh;
        }
    }
}
