body {
    margin-right: 0;
}

.nosotros_content {
    margin: 40px;
    display: inline-flex;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
    .img {
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media screen and (max-width: 992px) {
          width: 90%;
        }
        img {
            width: 80%;
        }
    }
    .title_and_text {
        width: 50%;
        padding-left: 1rem;
        @media screen and (max-width: 992px) {
          width: 90%;
        }
    }
    p {
        color: #222222;
    }
}

.servicios-content {
    padding: 40px;
    width: 100%;
    text-align: center;
    background-color: #EAEAEA;
    h1 {
        padding-bottom: 8px;
    }
    .services {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
          flex-wrap: wrap;
        }
    }
    .service {
        width: 30%;
        text-align: center;
        @media screen and (max-width: 992px) {
          width: 90%;
          padding: 8px;
        }
        h2{
          @media screen and (max-width: 992px) {
            font-size: 16px;
          }
        }
    }
}

.slider {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
    padding: 0 0 32px 0;
}
